:root {
  /* colors */
  --clr-primary-red-4: hsl(12, 88%, 59%);
  --clr-primary-blue-8: hsl(228, 39%, 23%);

  --clr-white: hsl(0, 100%, 100%);
  --clr-red-1: hsl(13, 100%, 96%);
  --clr-gray-1: hsl(0, 11%, 95%);
  --clr-gray-2: hsl(0, 5%, 89%);
  --clr-gray-4: hsl(228, 18%, 71%);
  --clr-blue-9: hsl(233, 12%, 13%);

  /* typography */
  --fs-3: 0.82rem;
  --fs-4: 0.875rem;
  --fs-5: 1rem;
  --fs-8: clamp(1.4rem, 2vw + 1rem, 1.8rem);
  --fs-9: clamp(1.8rem, 3vw + 1rem, 2.5rem);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --fw-7: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

p {
  line-height: 1.8;
  font-size: var(--fs-4);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-5);
  color: var(--clr-gray-4);
  background-color: var(--clr-white);
  min-height: 100vh;
}

@media (min-width: 45.1em) {
  body {
    background-position: top -250px right -170px;
  }
}

img,
picture {
  max-width: 100%;
  display: block; /* this is to remove weird spacing issues with imgs */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*! utility classes */

/*! general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* 
  the :where pseudo-class is there to eliminate the extra
  specificity that the :not(:first-child) adds.

  because of the var(--flow-space, 1rem), we can specify
  what amount of margin-top we want as an inline style of
  an element.
*/
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2.5em;
  margin-inline: auto;
  max-width: 80rem;
}

@media (min-width: 51.5em) {
  .container {
    padding-inline: 5em;
  }
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 51.5em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.overflow-x-hide {
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: none;
}

/* bg color */
.bg-primary-red-4 {
  background-color: var(--clr-primary-red-4);
}

.bg-primary-blue-8 {
  background-color: var(--clr-primary-blue-8);
}

.bg-red-1 {
  background-color: var(--clr-red-1);
}

.bg-gray-1 {
  background-color: var(--clr-gray-2);
}

.bg-gray-4 {
  background-color: var(--clr-gray-4);
}

.bg-blue-9 {
  background-color: var(--clr-blue-9);
}

/* text color */
.text-primary-red-4 {
  color: var(--clr-primary-red-);
}

.text-primary-blue-8 {
  color: var(--clr-primary-blue-8);
}

.text-red-1 {
  color: var(--clr-red-1);
}

.text-gray-1 {
  color: var(--clr-gray-1);
}

.text-gray-2 {
  color: var(--clr-gray-2);
}

.text-gray-4 {
  color: var(--clr-gray-4);
}

.text-blue-9 {
  color: var(--clr-blue-9);
}

.text-white {
  color: var(--clr-white);
}

/* text size */
.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.fs-5 {
  font-size: var(--fs-5);
}

.fs-8 {
  font-size: var(--fs-8);
}

.fs-9 {
  font-size: var(--fs-9);
}

/* font weight */
.fw-7 {
  font-weight: var(--fw-7);
}

.text-center {
  text-align: center;
}

/* shadows */
.orange-shadow {
  box-shadow: var(--clr-primary-red-4) 2px 5px 10px 0px,
    rgba(255, 255, 255, 0.8) -2px -10px 10px 0px;
}

.colorful-shadow-hover:is(:hover, :focus) {
  opacity: 0.5;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 255, 255) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

/*! components */
.btn {
  padding: 0.8em 2em;
  border-radius: 30px;
  font-size: var(--fs-3);
  border: none;
}

.btn-primary {
  background-color: var(--clr-primary-red-4);
  color: var(--clr-white);
}

.btn:is(:hover, :focus) {
  opacity: 0.8;
}

.btn-secondary {
  background-color: var(--clr-white);
  color: var(--clr-primary-red-4);
}

/* numbered items */
.numbered-items {
  counter-reset: count;
}

.numbered-items li {
  counter-increment: count;
  display: grid;
  align-items: center;
  row-gap: 1rem;
  grid-template-columns: min-content 1fr;
  text-align: left;
}

.numbered-items li::before {
  content: "0" counter(count);
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-primary-red-4);
  color: var(--clr-white);
  border-radius: 20px;
  font-weight: var(--fw-7);
  z-index: 1;
}

.numbered-item__title {
  background-color: var(--clr-red-1);
  padding-block: 0.5rem;
  margin-right: -100%; /* for the overflow of the bg color */
  margin-left: -1rem;
  padding-left: 1.5rem;
  font-size: var(--fs-5);
}

.numbered-item__body {
  grid-column: 1 / -1;
  max-width: 30rem; /*? */
}

@media (min-width: 51.5em) {
  .numbered-items li {
    column-gap: 1.5rem;
  }

  .numbered-item__title {
    background-color: transparent;
    padding-left: 0;
    margin: 0;
  }

  .numbered-item__body {
    grid-column: 2 / -1;
  }
}

/* carousel */
.carousel-container {
  width: 100%;
  position: relative;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.arrow-btn--left {
  left: -22px;
}

.arrow-btn--right {
  right: -22px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

/* making the scrollbar dissapear on chromium based browsers */
.carousel::-webkit-scrollbar {
  display: none;
}

/* 
  removing the smooth scroll behaviour when scrolling.
*/
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none; /* so that the text in the card can't be selected when dragging */
}

.carousel .card {
  min-height: 20rem;
  list-style: none;
  background-color: var(--clr-gray-1);
  border-radius: 0.5rem;
  display: flex;
  cursor: pointer;
  padding: 0.7rem 2rem 1rem 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .card__img {
  width: 6rem;
  height: 6rem;
}

.card .card__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.card h3 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 1rem 0 0.3rem;
}

@media screen and (max-width: 56.25em) {
  .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 37.5em) {
  .carousel {
    grid-auto-columns: 100%;
  }

  .carousel .card {
    scroll-snap-align: start; /* this makes the cards move by their entire width */
  }
}

/*! specific */

/* header */
.primary-header {
  justify-content: space-between;
  align-items: center;
  padding-block: 2em;
  font-size: var(--fs-3);
}

.mobile-menu {
  display: none;
}

/* 
  this is a max-width so that I don't have to reset
  all the mobile-menu styles to the origin on other 
  screen sizes.
*/
@media (max-width: 51.51em) {
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(2, 2, 2, 0.5) 100%
    );
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  body.overlay-active::before {
    opacity: 1;
  }

  .primary-header .btn-primary {
    display: none;
  }

  .primary-header__navigation {
    background-color: var(--clr-white);
    flex-direction: column;
    position: fixed;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: var(--fs-5);
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: min(80%, 22rem);
    padding-block: 2.5rem;
    z-index: 100;
    transform: translateX(200%);
    transition: transform 500ms ease-in-out;
  }

  .primary-header__navigation.active {
    transform: translateX(-50%);
  }

  .mobile-menu {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    order: 2;
    padding: 5px;
  }

  /* hamburger */
  .hamburger {
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 1.7rem;
    height: 3px;
    background-color: var(--clr-blue-9);
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 7px;
  }

  .hamburger::after {
    top: 7px;
  }

  .mobile-menu.active .hamburger {
    transform: rotate(45deg);
  }

  .mobile-menu.active .hamburger::before {
    opacity: 0;
  }

  .mobile-menu.active .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }
}

/* intro */
.intro-section {
  --gap: clamp(2.5rem, 6vw, 3rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
  text-align: center;
}

.intro-section__info {
  margin-bottom: 2rem;
  max-width: 30rem;
}

.intro-section__info h1 {
  margin-bottom: 1rem;
}

.intro-section__img {
  order: -1;
}

/* 
  the bg blobs are pseudo-elements instead of just
  being background-images of the .intro-section__img
  because it's easier to make pseudo-elements overflow?????  
*/
.intro-section__img::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 87%;
  max-height: 70vh;
  max-height: 70dvh; /* dvh's good for mobile. takes into account the height of the address bar */
  aspect-ratio: 1 / 1.2;
  background-image: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: bottom left; /* moving the bottom of the background to bottom left */
}

@media (min-width: 51.5em) {
  .intro-section {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin: auto;
  }

  .intro-section__info {
    margin-bottom: 3rem;
  }

  .intro-section__info p {
    max-width: 24rem;
  }

  .intro-section__img {
    order: initial;
  }

  .intro-section__img::before {
    width: 45%;
  }
}

@media (min-width: 51.51em) and (max-width: 58em) {
  .intro-section {
    margin-bottom: 5rem;
  }

  .intro-section__info {
    max-width: 40rem;
    margin-top: 2rem;
  }
}

/* features */
.product-info {
  --gap: 3rem;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.product-info__unique {
  max-width: 25rem;
  margin: auto;
}

.product-info__unique::before {
  content: url(../images/bg-tablet-pattern.svg); /* this is the content instead of just a background img because, if it were a bg, the and the bg overflowed, it would get cut off and wouldn't show up, but, with content, we don't have that problem */
  zoom: 40%; /* using this to make the blob image "smaller". not the best solution */
  position: absolute;
  z-index: -1;
  left: 70%;
  bottom: 120%;
  width: 100px;
}

@media (min-width: 51.5em) {
  .product-info__unique::before {
    zoom: 70%; /* using this to make the blob image "smaller". not the best solution */
    z-index: -1;
    left: -500px;
    top: 45%;
    width: 100px;
  }
}

/* testemonials */
.testemonials {
  margin: 5rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* call to action */
.call-to-action {
  padding-block: 4em;
  background-image: url(../images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50%;
}

/*? maybe should have a max-wdith class or a different layount?? */
.call-to-action div {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.call-to-action p {
  line-height: 1.5em;
  max-width: 22rem;
}

@media (min-width: 51.5em) {
  .call-to-action {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-size: cover;
    background-position: top right -6rem;
  }

  .call-to-action div {
    flex-direction: row;
  }

  /*? */
  .call-to-action p {
    max-width: 30rem;
    text-align: left;
  }
}

@media (min-width: 51.5em) {
  .product-info {
    --gap: clamp(2.5rem, 6vw, 3rem);
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-block: 3rem;
  }

  .product-info__unique {
    margin: unset;
  }

  .product-info__features-list {
    max-width: 35rem;
  }
}

/* footer */
.primary-footer .grid {
  place-items: center;
  padding-block: 2rem;
  gap: 1rem;
  grid-template-areas:
    "form"
    "navigation"
    "social-links"
    "logo"
    "copyright";
}

.primary-footer__form {
  grid-area: form;
  display: flex;
  gap: 0.3rem;
  width: 100%;
}

.primary-footer__form > input[type="email"] {
  padding: 0.6rem clamp(0.7rem, 5vw, 2rem);
  flex: 1;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  text-align: left;
}

/*? */
.primary-footer__form > .btn {
  padding: 0.7em clamp(0.5em, 1.5em, 2em);
}

.primary-footer__navigation {
  justify-content: space-between;
  grid-area: navigation;
  font-size: var(--fs-4);
}

.primary-footer__navigation ul {
  column-count: 2;
}

.nav-links li > a {
  color: var(--clr-gray-2);
}

.nav-links li > a:hover {
  color: var(--clr-primary-red-4);
}

.primary-footer__social-links {
  grid-area: social-links;
  justify-content: space-between;
  width: 100%;
}

.primary-footer__social-links img {
  width: 1.7rem;
  aspect-ratio: 1;
}

.primary-footer__social-links a:hover {
  filter: brightness(0.5) invert(1);
}

.primary-footer__logo {
  grid-area: logo;
  max-width: 50%;
  margin-top: 2rem;
  filter: brightness(0.5) invert(1);
}

.primary-footer_copyright {
  grid-area: copyright;
}

@media (min-width: 51.5em) {
  .primary-footer > .grid {
    padding-block: 2rem;
    grid-template-columns: min-content minmax(12rem, 20rem) min-content;
    column-gap: min(1.5rem, 3.5vw);
    justify-content: space-between;
    grid-template-areas:
      "logo navigation form"
      ". navigation form"
      "social-links navigation copyright";
  }

  .primary-footer__navigation {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  .primary-footer__social-links img {
    min-width: 1rem;
    width: 1.1rem;
  }

  .primary-footer__logo {
    max-width: 100%;
  }
}
